/*
======== INDEX ========
GENERAL STYLES
    links
    buttons
    icons
    sizes and spaces of the page
TOPBAR
MAIN-HEADER
HERO
ABOUT
SERVICES
CLIENT
PORTIFOLIO
TESTIMONIALS
CTA
OUR-TEAM
CONTACT-US
MAIN-FOOTER
=======================
*/

/* === GENERAL STYLES === */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #444;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #7B2CBF;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 6px;
}

ul {
    list-style-type: none;
}

/* links */

a {
    font-size: 15px;
    font-weight: 600;
    transition: .2s ease-out;
}

a:hover,
a:focus {
    color: #b361f7;
}

a:active {
    color: #7B2CBF;
}

/* buttons */

.button {
    display: inline-block;
    box-sizing: border-box;
    width: 140px !important;
    padding: 10px 0;
    text-align: center;
    color: #fff !important;
    background-color: #7B2CBF;
    border: none;
    transition: .2s ease-out;
}

.button:hover {
    background-color: #b361f7;
}

.contact-form-btn {
    cursor: pointer;
    margin: auto;
}

/* icons */

.md-icon {
    font-size: 50px;
    color: #7B2CBF;
}

.sm-icon {
    font-size: 20px;
    transition: .2s ease-out;
}

.sm-icon:hover {
    color: #7B2CBF;
}

/* sizes and spaces of the page */

.main-container {
    box-sizing: border-box;
    max-width: 960px;
    margin: auto;
    padding: 0 10px;
}

#about, 
#services, 
#clients, 
#portfolio,
#testimonials,
#cta,
#our-team,
#contact-us {
    padding: 30px 0;
}

.section-header {
    margin-bottom: 30px;
}

/* === TOPBAR === */

/* === MAIN-HEADER === */

/* === HERO === */

#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 408px;
    background-image: url('../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.white-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: #fff;
}

#hero-content {
    position: relative;
    max-width: 615px;
    text-align: center;
    z-index: 1;
}

#hero-content h2 {
    font-size: 64px;
    margin-bottom: 40px;
}

/* === ABOUT === */

/* === SERVICES === */

#services-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-card {
    box-sizing: border-box;
    display: flex;
    width: 49%;
    margin: 15px 0;
    padding: 40px;
    box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.25);
    transition: .5s;
}

.services-card:hover {
    transform: translateY(-10px);
}

.services-card i {
    margin-right: 20px;
}

/* === CLIENT === */

#client-carousel-container {
    box-sizing: border-box;
    overflow: hidden;
}

#slider {
    display: flex;
    transition: .5s ease;
    transform: translateX(0);
}

.logo-container {
    min-width: calc(100% / 5);
    max-width: calc(100% / 5);
}

.client-logo {
    width: 80%;
    opacity: .6;
    transition: .3s ease-out;
}

.client-logo:hover {
    opacity: 1;
}

#mini-button-container {
    text-align: center;
}

.mini-button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: #b461f786;
    cursor: pointer;
    transition: .2s ease-out;
}

.mini-button:hover {
    background-color: #7B2CBF;
}

.active-mini-button {
    background-color: #7B2CBF;
}

.mini-button:nth-child(5), 
.mini-button:nth-child(6),
.mini-button:nth-child(7) {
    display: none;
}

/* === PORTIFOLIO === */

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 300px;
    box-sizing: border-box;
    margin-bottom: 30px;
    overflow: hidden;
}

.product-content {
    position: relative;
    width: 100%;
    padding-top: 100%;
    transition: .5s ease-in-out;
}

.product-content:hover {
    transform: translateY(-10%);
}

.product-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-description {
    position: absolute;
    bottom: -25%;
    left: 0;

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 25%;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #7B2CBF;
    transition: .5s ease-in-out;
}

.product-content:hover .product-description {
    transform: translateY(-60%)
}

.product-description h3,
.product-description p,
.product-description i {
    color: #fff;
}

.product-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.product-buttons {
    align-self: center;
}

.product-buttons a {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin: 5px;
}

/* === TESTIMONIALS === */

#testimonials-container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.testimonial-card {
    box-sizing: border-box;
    text-align: center;
    max-width: 310px;
    padding: 30px 10px;
    border-radius: 10px;
    border: 2px solid rgba(73, 78, 92, 0.2);
}

.quote {
    display: flex;
}

.quote i {
    font-size: 32px;
    color: #7a2cbf25;
}

.avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 24px;
}

/* === CTA === */

/* === OUR-TEAM === */

/* === CONTACT-US === */

.contact-card-container {
    display: flex;
    justify-content: space-between;
}

.contact-card {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    padding: 30px;
}

.contact-card:nth-child(2) {
    border-right: 2px solid rgba(73, 78, 92, 0.2);
    border-left: 2px solid rgba(73, 78, 92, 0.2);
}

.contact-card i {
    margin-bottom: 10px;
}

#contact-form {
    margin-top: 50px;
}

.row-contact-form {
    display: flex;
    text-align: center;
}

.row-contact-form input,
.row-contact-form textarea {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    padding: 10px 14px;
    font-size: 16px;
    border: 2px solid rgba(73, 78, 92, 0.2);
}

.row-contact-form textarea {
    height: 150px;
}

#name {
    margin-right: 16px;
}

/* === MAIN-FOOTER === */

#main-footer {
    padding: 30px 0;
    background-color: #b361f7;
}

.main-footer-content {
    text-align: center;
}

.main-footer-content p {
    color: #fff;
}

@media (min-width: 1200px) {
    .main-container {
        max-width: 1140px;
    }

    .product {
        width: 350px;
    }

    .testimonial-card {
        max-width: 370px;
    }
}

@media (max-width: 991px) {
    .main-container {
        max-width: 720px;
    }

    #services-card-container {
        flex-direction: column;
        align-content: center;
    }

    .services-card {
        width: 100%;
    }

    .product {
        width: 340px;
    }

    #testimonials-container {
        display: block;
    }

    .testimonial-card {
        margin: 30px 0;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .main-container {
        max-width: 540px;
    }
    
    #hero-content h2 {
        font-size: 48px;
    }

    .logo-container {
        min-width: calc(100% / 4);
        max-width: calc(100% / 4);
    }

    .product {
        width: 100%;
    }

    .mini-button:nth-child(5) {
        display: inline;
    }

    .contact-card-container {
        display: block;
    }

    .contact-card:nth-child(2) {
        border: none;
    }

    .row-contact-form {
        display: block;
    }
}

@media (max-width: 575px) {
    .logo-container {
        min-width: calc(100% / 3);
        max-width: calc(100% / 3);
    }
    
    .mini-button:nth-child(6) {
        display: inline;
    }
}

@media (max-width: 479px) {
    #hero-content h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }

    .services-card {
        flex-direction: column;
    }

    .services-card i {
        margin-bottom: 10px;
    }

    .logo-container {
        min-width: calc(100% / 2);
        max-width: calc(100% / 2);
    }

    .mini-button:nth-child(7) {
        display: inline;
    }
}